{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn"],
  "tailwindAttributes": [
    "treeTypeButtonClassName",
    "timeTravelButtonClassName",
    "timeTravelPanelButtonClassName",
    "timeTravelPanelClassName",
    "timeTravelPanelSliderClassName",
    "viewClassName"
  ]
}
