@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --b1: 255 255 255;
        --b2: 242 242 242;
        --b3: 229 230 230;
        --bc: 31 41 55;
        --n: 43 52 64;
        --nc: 215 221 228;
        --p: 73 30 255;
        --pc: 212 219 255;
        --s: 255 249 252;
        --sc: 255 65 199;
        --a: 0 207 189;

        @apply bg-base-100 text-base-content;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --b1: 29 35 42;
            --b2: 25 30 36;
            --b3: 21 25 30;
            --bc: 166 173 187;
            --n: 42 50 60;
            --nc: 166 173 187;
            --p: 117 130 255;
            --pc: 5 6 23;
            --s: 255 113 207;
            --sc: 25 2 17;
            --a: 0 199 181;
        }
    }
}
